src/main/mule/vpc-8081.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0d450fc7-f5fc-4d98-83ef-5411f2292466" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="vpc-8081Flow" doc:id="790a9c94-58e6-422f-8701-2dff2b0ab2df" >
		<http:listener doc:name="Listener" doc:id="76a25d71-7c98-47e2-9ee7-50139e7d4676" config-ref="HTTP_Listener_config" path="azure-demo"/>
		<set-payload value="#['response from application 8081']" doc:name="Set Payload" doc:id="a80a8f04-b501-4194-87f9-d67a68f5eaa2" />
	</flow>
</mule>
